
<h5>@Titolo</h5>
@*<div align="right">
    <button class="btn btn-outline-primary mb-4"
            @onclick="OnCrea">
        Nuovo Appuntamento
    </button>
</div>*@

    <table class="table">
        <thead class="table-success">
            <tr>
                <th><font size=2>Data</font></th>
                <th><font size=2>Ora</font></th>
                <th><font size=2>Nome</font></th>
                <th><font size=2>Luogo</font></th>
                <th><font size=2>Descrizione</font></th>
                <th></th>
                <th>
                    <button class="btn btn-primary "
                            @onclick="OnCrea">
                        Nuovo 
                    </button>
                </th>
            </tr>
        </thead>
        @foreach (var evento in ListaElementi)
        {
            <tr>
                <td><font size=2>@evento.Data</font></td>
                <td><font size=2>@evento.Ora</font></td>
                <td><font size=2>@evento.Nome</font></td>
                <td><font size=2>@evento.Localita</font></td>
                <td><font size=2>@evento.Descrizione</font></td>
                <th>
                    <button class="btn btn-outline-info"
                            @onclick="e => OnModifica.InvokeAsync(evento)">
                        Dettagli
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-danger"
                            @onclick="e => OnElimina.InvokeAsync(evento)">
                        Elimina
                    </button>
                </th>

            </tr>
        }
    </table>
    @code {

        [Parameter]
        public string Titolo { get; set; } = "Lista Appuntamenti";

        [Parameter]
        public List<ElementoListaEventi> ListaElementi { get; set; }

        [Parameter]
        public EventCallback OnCrea { get; set; }

        [Parameter]
        public EventCallback<ElementoListaEventi> OnModifica { get; set; }

        [Parameter]
        public EventCallback<ElementoListaEventi> OnElimina { get; set; }



    }
