<div align="right">
    <button class="btn btn-outline-primary mb-4"
                          @onclick="OnCreaContatto">
    Nuovo contatto
</button>
</div>

<table class="table table-striped table-active ">
    <thead class="table-warning">
        <tr>
            <th><font size=2>Id</font></th>
            <th><font size=2>Nome</font></th>
            <th><font size=2>Cognome</font></th>
            <th><font size=2>Azienda</font></th>
            <th><font size=2>Indirizzo</font></th>
            <th><font size=2>Telefono</font></th>
            <th><font size=2>E-mail</font></th>
            <th><font size=2>Note</font></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var contatto in ListaElementiContatto)

    {
        <tr>
            <td><font size=2>@contatto.Id</font></td>
            <td><font size=2>@contatto.Nome</font></td>
            <td><font size=2>@contatto.Cognome</font></td>
            <td><font size=2>@contatto.Azienda</font></td>
            <td><font size=2>@contatto.Indirizzo</font></td>
            <td><font size=2>@contatto.Telefono</font></td>
            <td><font size=2>@contatto.Email</font></td>
            <td><font size=2>@contatto.Note</font></td>
            <th>
                <button class="btn btn-outline-warning"
                        @onclick="e => OnModificaContatto.InvokeAsync(contatto)">
                    Modifica
                </button>
            </th>
            <th>
                <button class="btn btn-outline-danger"
                        @onclick="e => OnEliminaContatto.InvokeAsync (contatto)">
                    Elimina
                </button>
            </th>
        </tr>
    }
</table>



@code {

    [Parameter]
    public List<Contatto> ListaElementiContatto { get; set; }
    													  
    [Parameter]
    public EventCallback OnCreaContatto { get; set; }
 
    [Parameter]
    public EventCallback<Contatto> OnModificaContatto { get; set; }
	
    [Parameter]
    public EventCallback<Contatto> OnEliminaContatto { get; set; }

	[Parameter]
    public Profilo DettaglioContatto { get; set;}



    }